@model FriendSQLiteMVCVSCode.Models.FriendViewModel
@{
    ViewData["Title"] = "Edit Friend";
    var photoFilePath = TempData["PhotoFilePath"]?.ToString();
    if (photoFilePath == "/images/")
    {
        photoFilePath = "/images/NoData.jpg";
    }
    var dateOfBirth = TempData["DateOfBirth"]?.ToString();
    var regionOfBirth = TempData["RegionOfBirth"]?.ToString();
    if (regionOfBirth == "" | regionOfBirth == null)
    {
        regionOfBirth = "Unknown";
    }
}
<h1>Edit</h1>
<h4>@ViewData["Title"]</h4>
<form enctype="multipart/form-data" method="post" asp-controller="Friend" asp-action="Edit" class="w-75 mx-auto">
    <div class="mb-3">
        <label for="Id" class="form-label">Id:</label>
        <input type="text" class="form-control" id="Id" asp-for="Id" readonly />
    </div>
    <div class="mb-3">
        <label for="Firstname" class="form-label">Firstname:</label>
        <input type="text" class="form-control" id="Firstname" asp-for="Firstname" />
    </div>
    <div class="mb-3">
        <label for="Lastname" class="form-label">Lastname:</label>
        <input type="text" class="form-control" id="Lastname" asp-for="Lastname" />
    </div>

    <div class="mb-3">
        <label for="Note" class="form-label">Note:</label>
        <input type="text" class="form-control" id="Note" asp-for="Note" />
    </div>
    <div class="mb-3">
        <label for="DateOfBirth" class="form-label">Date of Birth:</label>
        <div class="col-sm-9">
            <input asp-for="DateOfBirth" type="date" class="form-control" value="@dateOfBirth" />
        </div>
    </div>
    <div class="mb-3">
        <label for="RegionOfBirth" class="form-label">Region of Birth: @regionOfBirth</label><br />
        <label>If data is incorrect, please select again form the menu:</label>
        <div class="col-sm-9">
            <select class="form-select" asp-for="RegionOfBirth" value="@regionOfBirth">
                <option value="Unknown">Unknown</option>
                <option value="Bangkok City">Bangkok City</option>
                <option value="Central">Central</option>
                <option value="East">East</option>
                <option value="North">North</option>
                <option value="Northeast">Northeast</option>
                <option value="South">South</option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="PhotoFilename" class="form-label">Current Photo Filename:</label>
        <input type="text" class="form-control" id="PhotoFilename" asp-for="PhotoFilename" readonly />
        <img src="@photoFilePath" width="120" />
    </div>
    <div class="mp-3">
        <label for="Photo" class="form-label">If you want to change photo, please upload again:</label>
        <input type="file" class="form-control" name="PhotoFile" id="PhotoFilename" />
    </div>
    <div class="mb-3">
        <label for="Sign" class="form-label">Sign:</label>
        <input type="text" class="form-control" id="Sign" asp-for="Sign" />
    </div>
    <div class="mb-3">
        <label>&nbsp;&nbsp;&nbsp;</label>
        <div class="col-sm-9">
            <input type="submit" class="btn btn-info mx-auto d-inline" value="Save" />
            <input type="button" class="btn btn-primary mx-auto d-inline" value="Cancel" action="action"
                onclick="window.location.href='../'" />
        </div>
    </div>

</form>