@model IEnumerable<FriendSQLiteMVCVSCode.Models.FriendViewModel>
@{
    ViewData["Title"] = "List Friends";
}
<h1>Fried VS Sign</h1>
<h4>@ViewData["Title"]</h4>
<a asp-controller="Friend" asp-action="Create" class="btn btn-primary float-end my-2">Add Friend</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Firstname)</th>
            <th>@Html.DisplayNameFor(model => model.Lastname)</th>
            <th>@Html.DisplayNameFor(model => model.Note)</th>
            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.RegionOfBirth)</th>
            <th>Photo</th>  <!-- Changed column name for clarity -->
            <th>@Html.DisplayNameFor(model => model.Sign)</th>
            <th>[Action]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var friend in Model)
        {
            <tr>
                <td>@friend.Id</td>
                <td>@friend.Firstname</td>
                <td>@friend.Lastname</td>
                <td>@friend.Note</td>
                <td>@friend.DateOfBirth</td>
                <td>@friend.RegionOfBirth</td>
                <td>
                    @{
                        // Set image filename based on Sign or use Nodata.jpg as default
                        var imageFilename = string.IsNullOrEmpty(friend.Sign) ? "Nodata.jpg" : $"{friend.Sign}.jpg";
                    }
                    <img src="~/images/@imageFilename" alt="Friend Image" width="100" height="100">
                </td>
                <td>@friend.Sign</td>
                <td>
                    <a asp-controller="Friend" asp-action="Edit" asp-route-id="@friend.Id"
                        class="btn btn-info text-white">Edit</a>
                    <a asp-controller="Friend" asp-action="Delete" asp-route-id="@friend.Id"
                        class="btn btn-danger text-white">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
